* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card img {
    position: ;
    width: 100%;
    
    transition: opacity 0.5s ease;
} 



/* COMMON */

.conteiner {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;

    /* Reset */

    border: 1px solid blue;
}


.card {
    flex-wrap: wrap;
    margin: 0.5%;
    width: calc(96%/3);
    position: relative;
    margin-bottom: 1%;
    
    
    /* Debug */
    border: 1px solid red;
}

/* IMMAGINI */

.card .img-hover {
    display: none;
}

.card:hover .img-hover {
    opacity: 1;
    display: initial;
}

.card:hover .img-default {
    display: none;
}


/* TEXT */

.scontato {
    color: red;
}

.originale {
    text-decoration: line-through;
}
.text {
    padding: 1% 2%;
}

/* UTILITY */

.heart {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #fff;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heart:hover {
    color: whitesmoke;
    background-color: red;
}

 .sostenibilita {
position: absolute;
bottom: 10px;
left: 70px; 
background-color: green;
color: yellow;
padding: 1% 2%;

/* DEBUG */
border: solid 1px red;
}

.sconto {
    position: absolute;
    bottom: 10px;
    left: 15px; 
    background-color: red;
    padding: 1% 2%;
    color: white;

    /* DEBUG */

    border: solid 1px red;
} 

.card-header {
    position: relative;
    width: 100%;
}



